# 学习内容
1. 下载数据，读取数据，观察数据
2. 将训练集拆分为训练集和验证集。要求：数据3-7分，随机种子2019
3. 分享自己对数据以及赛题的理解和发现

PS. 电脑爆内存的，可以先提取1w条数据进行实践~ 或者群内说一下

参考资料

1）比赛链接：http://t.cn/Ezyacne

2）达观杯十强分享汇总ppt 
链接https://pan.baidu.com/s/10hHR7JLnJas9GjI4-7vgFQ  提取码：hx8t

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

path_test = 'new_data/test_set.csv'
path_train = 'new_data/train_set.csv'
df_test = pd.read_csv(path_test)
df_train = pd.read_csv(path_train)

#读取测试和训练数据头部看情况
df_test.head()

,id,article,word_seg
0,0,7368 146447 316564 42610 55736 297797 93042 53...,816903 565958 726082 764656 335008 75094 20282...
1,1,985531 473628 1044285 1121849 206763 462208 11...,729468 520477 529032 101368 335130 520477 1113...
2,2,7368 7368 7368 7368 7368 7368 7368 7368 7368 7...,816903 816903 816903 816903 816903 816903 8169...
3,3,529819 1226459 856005 1177293 663773 272235 93...,231664 1033823 524850 330478 507199 520477 618...
4,4,42610 1252069 1077049 955883 1125260 1044285 2...,545370 379223 162767 520477 1194630 1197475 11...

In [10]:
df_train.head()

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [16]:
# 三七分训练集和测试集，以class为判定

df_train_test = df_train[['id','article','word_seg']]
df_train_train = df_train['class']
x_train,x_test,y_train,y_test = train_test_split(df_train_test,df_train_train,test_size = 0.3,random_state = 2019)